@import "./_footer.scss";

@import "./_upload_image.scss";

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,js,py}";

.title {
  @apply text-3xl font-bold mb-1;
}

.button {
  @apply flex p-2 mb-8 bg-blue-500 text-white! shadow rounded-xl hover:bg-blue-600 items-center;
}

.report-container {
  @apply overflow-x-auto rounded-md shadow mb-4;

  .report-table {
    @apply min-w-full leading-normal text-right text-zinc-900 border-2 font-semibold border-collapse;

    .pending {
      @apply italic;
    }

    td {
      @apply border border-1;
    }

    .table-header-row {
      @apply bg-gray-400! dark:bg-blue-900! text-center;

      td {
        @apply p-1;
      }
    }

    .row-data {
      @apply bg-neutral-200 even:bg-neutral-300 dark:bg-neutral-600!;
    }

    .row-header {
      @apply text-left p-1;
    }

    .cell-data {
      @apply p-1  text-center text-sm;
    }

    .workday {
      @apply bg-yellow-600;
    }

    .non-workday {
      @apply bg-gray-400!  dark:bg-blue-900!;
    }
  }
}
