{% extends "admin/base_site.html" %}
{% load qr_code static %}

{% block extrahead %}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content %}
    <a href="{% url "admin:missions_expense_change" expense.id %}">Back to expense {{ expense }}</a>
    <br>
    <table>
        <tr>
            <td>{% qr_from_data ref size="M" %}</td>
            <td>
                <ul>
                    <li>Mission: {{ expense.mission }}</li>
                    <li>Day: {{ expense.day }}</li>
                    <li>
                        Amount: {{ expense.amount_currency }} {{ amount.currency.symbol }} {{ amount.currency.iso3 }}
                    </li>
                    <li>Detail: {{ expense.detail }}</li>
                    <li>Category: {{ expense.category }}</li>
                    <li>Payment Type: {{ expense.payment_type }}</li>
                    <li>Created on: {{ expense.created_ts }}</li>
                    <li>Updated on: {{ expense.modified_ts }} ({{ expense.get_updated_millis }})</li>
                </ul>
                <br>
                Awaiting image...
                <img src="{% static "core-img/spinner.gif" %}">
            </td>
        </tr>
    </table>

    {% if debug %}
        <br>
        {{ ref }}
    {% endif %}

    <script>
        $(document).ready(function () {
            // Define the function to load the page content
            function loadPage() {
                // Make an AJAX request to the page URL
                $.ajax({
                    url: '{% url "missions:expense-check-ts" expense.pk %}?ms={{ expense.get_updated_millis }}',
                    method: 'GET',
                    success: function (data, textStatus, xhr) {
                        // Update the content div with the loaded page content
                        if (xhr.status == 204) {
                            window.location.href = "{% url "admin:missions_expense_change" expense.id %}";
                        }
                        {#$('#content').html(response);#}
                        console.log('Status: ' + xhr.status);
                    },
                    error: function (xhr, status, error) {
                        // Handle any error that occurs during the AJAX request
                        console.log('Error: ' + error);
                    },
                    complete: function () {
                        // Schedule the next poll after a certain interval (e.g., 5 seconds)
                        setTimeout(loadPage, 3000);
                    }
                });
            }

            // Start the initial page load
            loadPage();
        });
    </script>
{% endblock %}
