{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% load numformat %}
{% load querystring from django_tables2 %}

{% block extrahead %}
    {{ block.super }}
    <script>
        function printWithSpecialFileName() {
            var tempTitle = document.title;
            document.title = "{{filename}}";
            window.print();
            document.title = tempTitle;
        }
    </script>

{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration')}}</a></h1>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content %}
    <h1>Reimbursements report: (<a onclick="printWithSpecialFileName();">print to pdf</a>)</h1>
{#    <a href="{% querystring '_export'='xlsx' %}">Download XLSX</a>#}

    {% for month, resources in data.items %}
        <h2>{{ month }}</h2>
        <table>
            {% for resource, res_data in resources.items %}
                <tr>
                <th>{{ resource }}</th>
                </tr>
            {% endfor %}
        </table>
        <br/>
    {% endfor %}


{#    <table>#}
{#        <tr>#}
{#            <td>#}
{#                <p>Summaries</p>#}
{#                <ul>#}
{#                    {% for key, value in summary.items %}#}
{#                        <li>{{ key }}: {{ value|numformat:"2g" }} {{ base }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </td>#}
{#            <td>#}
{#                <p>Missions</p>#}
{#                <ul>#}
{#                    {% for mission in missions %}#}
{#                        <li>{{ mission }}: {{ mission.expense_count }} expenses</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </td>#}
{#            <td>#}
{#                <p>Legend</p>#}
{#                <ul>#}
{#                    <li>Amount Base red: negative amount</li>#}
{#                    <li>Amount Reimbursement red: negative amount</li>#}
{#                </ul>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    {% if expenses %}#}
{#        {% render_table expenses %}#}
{##}
{#        <table>#}
{#            <tr>#}
{#                <td>#}
{#                    <table>#}
{#                        <tr>#}
{#                            <th>Category</th>#}
{#                            <th>{{ base }}</th>#}
{#                            <th>Reimbursed</th>#}
{#                        </tr>#}
{#                        {% for category, sums in categories.items %}#}
{#                            <tr style="text-align: right">#}
{#                                <td>{{ category }}</td>#}
{#                                <td>{{ sums.0 }}</td>#}
{#                                <td>{{ sums.1 }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
{#                </td>#}
{#                <td>#}
{#                    <table>#}
{#                        <tr>#}
{#                            <th>Paid by</th>#}
{#                            <th>{{ base }}</th>#}
{#                            <th>Reimbursed</th>#}
{#                        </tr>#}
{#                        {% for payment, sums in payments.items %}#}
{#                            <tr style="text-align: right">#}
{#                                <td>{{ payment }}</td>#}
{#                                <td>{{ sums.0 }}</td>#}
{#                                <td>{{ sums.1 }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}


{#    {% else %}#}
{#        <li>No expenses for this reimbursement.</li>#}
{#    {% endif %}#}
{% endblock %}
