.*
~*
dist
!dist/image-requirements.txt
!dist/test-requirements.txt
./docs
./tests
./tools


*.egg-info
!tools/zapdata/demo

./krm3-fe
!./krm3-fe/dist
node_modules

uv-cache/
.uv-cache/
**/.uv-cache
**/uv-cache


coverage.xml
junit.xml
manage.py
