{% extends "home.html" %}

{% load tailwind_tags static reports %}
{% load i18n %}

{% block extrastyle %}
    <style>
        html {
            background-color: white;
            color-scheme: dark !important;
        }

        body {
            color-scheme: dark !important;
        }

        * {
            color-scheme: dark !important;
        }
    </style>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="w-9/10 mx-auto pt-20">
        <div class="flex flex-row justify-between mt-2">
            <a href="{% url "availability-report-month" prev_month %}" class="button">{% translate "Prev month" %}</a>
            <div class="flex flex-col">
                <h1 class="title">{% blocktranslate %}Availability Report {{ title }}{% endblocktranslate %}</h1>
            </div>
            <a href="{% url "availability-report-month" next_month %}" class="button">{% translate "Next month" %}</a>
        </div>

        <div class="mb-10">
            <label for="project" class="block text-sm/6 font-medium">{% translate "Filter for project" %}</label>
            <div class="mt-2 grid grid-cols-1">
                <select id="project" name="project" autocomplete="project-name">
                    {% for id, project in projects.items %}
                        <option value="{{ id }}" {% if id == selected_project %}selected{% endif %}>{{ project }}</option>
                    {% endfor %}
                </select>
                <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                </svg>
            </div>
        </div>

        {% if report_blocks %}
            <div class="report-container">
                <table class="report-table">
                    <thead>
                    <tr class="table-header-row">
                        {% for cell in report_blocks.0.rows.0.cells %}
                            <td class="{% if forloop.first %}row-header{% else %}text-center workday{% endif %}">
                                {{ cell.render|linebreaks }}
                            </td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in report_blocks.0.rows|slice:"1:" %}
                        <tr class="row-data">
                            {% for cell in row.cells %}
                                <td class="{% if forloop.first %}row-header{% else %}cell-data{% endif %} {% if cell.nwd %}non-workday{% endif %} text-center">
                                    {{ cell.render }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="flex justify-center">No data found for this month or this project</div>
        {% endif %}

    </div>
{% endblock body %}

{% block js-frameworks %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            const $select = $('#project');

        {% if selected_project %}
            $select.val("{{ selected_project }}")
        {% endif %}

        $select.select2();

            $select.on('change', function () {
                const url = new URL(window.location);
                url.searchParams.set('project', this.value);
                window.location.href = url.toString();
            });

            $select.on('select2:open', function() {
                $('#select2-project-results').addClass('text-black');
            });
        });
    </script>
{% endblock js-frameworks %}
