{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy"
              content="script-src 'self' 'unsafe-inline' 'unsafe-eval'
              https://www.google-analytics.com
              https://www.googletagmanager.com">

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>
            {% block head-title %}
            {% endblock %}
        </title>
        {% block head %}
        {% endblock %}
        {% tailwind_css %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}

        <div class="footer-signature">
        {% block footer %}
        {% endblock footer %}
        </div>
    </body>

    {% block js-frameworks %}
    {% endblock js-frameworks %}
</html>
