{% extends "home.html" %}

{% block extrastyle %}
    <style>
      html {
        background-color: white;
      }
    </style>
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="w-full max-w-4xl mx-auto mt-20 px-4">
        <div class="flex flex-col">
            <h1 class="text-3xl font-bold text-center mb-8 text-white">Changelog</h1>
        </div>

        <div class="bg-white/5 border border-white/10 rounded-xl p-8 shadow-2xl backdrop-blur-sm">
            <div class="text-white">
                {{ changelog_html|safe }}
            </div>
        </div>
    </div>
{% endblock body %}
