{% extends "home.html" %}

{% load tailwind_tags static reports %}


{% block extrastyle %}
    <style>
        html {
            background-color: white;
            color-scheme: dark !important;
        }

        body {
            color-scheme: dark !important;
        }

        * {
            color-scheme: dark !important;
        }
    </style>
{% endblock %}
{% block body %}
    {{ block.super }}
    <div class="w-9/10 mx-auto pt-20">
        <div class="flex flex-row justify-between mt-2">
            <a href="{% url "report-month" prev_month %}" class="button">Prev month</a>
            <div class="flex flex-col">
                <h1 class="title">Report {{ title }}</h1>
            </div>
            <a href="{% url "report-month" next_month %}" class="button">Next month</a>
        </div>
        <div class="flex justify-center">
            <a href="{% url 'export_report' current_month %}" class="button">Download report</a>
        </div>
        {% for report_block in report_blocks %}
            <div class="report-container">
                <table class="report-table">
                    <thead>
                    <tr class="table-header-row">
                        <td class="row-header " colspan="2">
                            <strong>{{ forloop.counter }}
                                - {{ report_block.resource.last_name }}</strong> {{ report_block.resource.first_name }}
                        </td>
                        {% for cell in report_block.rows.0.cells|slice:"1:" %}
                            <td>
                                {% if cell.value.holiday %}X{% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="table-header-row">
                        <td class="row-header">Giorni {{ report_block.rows.0.cells.0.render }}</td>
                        <td>Tot HH</td>
                        {% for cell in report_block.rows.0.cells|slice:"1:" %}
                            <td class="{% if not cell.value.nwd %}workday{% endif %} {% if not cell.value.submitted %}pending{% endif %}">
                                <p>{{ cell.value.day_of_week_short }}</p>
                                <p>{{ cell.value.date.day }}</p>
                            </td>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>

                    {% for row in report_block.rows|slice:"1:" %}
                        <tr class="row-data">
                            <td class="row-header">{{ row.cells.0.render }}</td>
                            {% for cell in row.cells|slice:"1:" %}
                                <td class="cell-data {% if cell.nwd %}non-workday{% endif %}">
                                    {% if cell.negative %}
                                        <span class="text-red-500">{{ cell.render }}</span>
                                    {% else %}
                                        {{ cell.render }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% empty %}
                        <tr class="row-data">
                            <td class="text-left" colspan="{{ report_block.width }}">No time entries available</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

    </div>

{% endblock body %}
