{% extends "home.html" %}

{% load tailwind_tags report_line %}
{% load web_filters %}

{% block extrastyle %}
    {% tailwind_css %}
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="w-9/10 mx-auto pt-20">
          <div class="flex flex-row justify-between mt-2">
              <a href="{% querystring month=prev_month %}"
                 class="flex p-2 mb-8 bg-blue-500 dark:bg-blue-700 text-white! shadow rounded-xl text-md hover:bg-blue-600 items-center">Prev month</a>
              <div class="flex flex-col">
                  <h1 class="text-3xl font-bold text-center mb-1">Task Report {{ title }}</h1>
              </div>
              <a href="{% querystring month=next_month %}"
                 class="flex items-center p-2 mb-8 bg-blue-500 text-white! shadow rounded-xl text-md hover:bg-blue-600 ">Next month</a>
            </div>

    {% for resource, stats in table_data.items %}
        {% if stats %}

            <div class="overflow-x-auto rounded-md shadow mb-4">
                <table class="min-w-full leading-normal text-right text-zinc-900 border-2 font-semibold border-collapse">
                    <thead>
                        <tr class="bg-gray-400! dark:bg-blue-900! ">
                            <td class="text-left p-1 border border-1" >
                                <strong>{{ resource.last_name }}</strong> {{ resource.first_name }}
                            </td>
                            <td class="p-1 border border-1 text-center">
                                <strong>NUM GIORNI</strong>
                                <strong><p class="mt-3">{{ stats|get:"NUM GIORNI" }}</p></strong>
                            </td>
                            <td class="text-left p-1 border border-1">
                                <strong>TOT HH</strong>
                                <strong><p class="mt-3">{{ stats|get:"TOT HH" }}</p></strong>
                            </td>
                            {% for day in days %}
                               <td class="p-1 text-center border border-1">
                                   <p>{{ day.date|weekday_short_it }}</p>
                                   <p>{{ day.date|date:"j" }}</p>
                               </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, data in stats.items %}
                            {% if data|is_list %}
                                {% report_line key key stats forloop.counter0|divisibleby:"2" %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="overflow-x-auto rounded-md shadow mb-4">
                <table class="min-w-full leading-normal text-right border">
                    <thead class="bg-gray-200">
                    <tr>
                        <td class="text-left p-1 w-1/6" colspan="2"><strong>{{ resource.last_name }}</strong> {{ resource.first_name }}</td>
                        <td class="text-left" colspan="{{ days|length }}">No data available</td>
                    </tr>
                    </thead>
                </table>
            </div>
        {% endif %}
    {% endfor %}

    </div>

{% endblock body %}
