{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% load numformat %}
{% load querystring from django_tables2 %}

{% block extrahead %}
    {{ block.super }}
    <script>
    function printWithSpecialFileName(){
        var tempTitle = document.title;
        document.title = "{{filename}}";
        try {
          // Print for Safari browser
          document.execCommand('print', false, null)
        } catch {
          window.print()
        }
        document.title = tempTitle;
    }
    </script>

{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration')}}</a></h1>
{% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content %}
    <h1>Mission: <a href="{% url "admin:core_mission_change" mission.pk %}">{{ mission }}</a> (<a onclick="printWithSpecialFileName();">print to pdf</a>)</h1>
    <a href="{% querystring '_export'='xlsx' %}">Download XLSX</a>


    <p>Project: <a href="{% url 'admin:core_project_change' mission.project_id %}">{{ mission.project }}</a></p>
    <p>Period: {{ mission.from_date }} - {{ mission.to_date }}</p>
    <p>Mission currency: {{ mission.default_currency.iso3 }}</p>
    <p>Summaries in {{ base }}:</p>
    <ul>
    {% for key, value in summary.items %}
      <li>{{key}}: {{value}}</li>
    {% endfor %}
    </ul>

    {% if expenses %}
        {% render_table expenses %}
    {% else %}
        <li>No expenses for this mission.</li>
    {% endif %}
{% endblock %}
