{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration')}}</a></h1>
    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content %}
    {% if resources %}
    <p>Are you sure you want to create a reimbursement for the following expenses?</p>
    <ul>
        {% for resource, missions in resources.items %}
            <li>{{ resource }}
                <ul>
                    {% for mission, expenses in missions.items %}
                        <li>{{ mission }}
                            {% render_table expenses %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'missions:reimburse-mission' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type=submit>
    </form>
    <br>
    <a href="{% url 'admin:missions_mission_changelist' %}">Back to missions</a>
    {% else %}
        No expenses to reimburse found!
    {% endif %}
{% endblock %}
