{% extends "base2.html" %}

{% load static %}

{% block body %}
    {{ block.super }}

    <div class="w-full mx-auto">
        <h1 class="text-3xl font-bold text-center mb-8 text-base-content">{{ title }} Report</h1>

        <div class="overflow-x-auto rounded-md shadow">
            <table class="min-w-full leading-normal text-right border">
                <thead class="bg-gray-50">
                <tr>
                    <td class="text-left p-1">Mike Tyson</td>
                    <td class="p-1">Tot HH</td>
                    <td class="p-1">X</td>
                    <td class="p-1"></td>
                    <td class="p-1"></td>
                    <td class="p-1">X</td>
                </tr>
                <tr>
                    <td class="text-left p-1" colspan="2">Giorni</td>
                    <td class="bg-gray-50 p-1"><p>Thu</p>
                        <p>1</p></td>
                    <td class="p-1"><p>Fri</p>
                        <p>2</p></td>
                    <td class="bg-gray-50 p-1"><p>Sat</p>
                        <p>3</p></td>
                    <td class="bg-gray-50 p-1"><p>Sun</p>
                        <p>4</p></td>
                </tr>
                </thead>
                <tr>
                    <td class="text-left p-1">Ore Ordinarie</td>
                    <td class="p-1">108.0</td>
                    <td class="bg-gray-50 p-1"></td>
                    <td class="p-1">8</td>
                    <td class="bg-gray-50 p-1">4</td>
                    <td class="bg-gray-50 p-1"></td>
                </tr>
                <tr>
                    <td class="text-left p-1">Ore Notturne</td>
                    <td class="p-1">108.0</td>
                    <td class="bg-gray-50 p-1"></td>
                    <td class="p-1">8</td>
                    <td class="bg-gray-50 p-1">4</td>
                    <td class="bg-gray-50 p-1"></td>
                </tr>
            </table>
        </div>


    </div>

{% endblock body %}
