{% extends "admin/base_site.html" %}

{% load tailwind_tags static report_line %}


{% block extrastyle %}
    {% tailwind_css %}
    <style>
      html {
        background-color: transparent;
      }
    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ admin_title }}</a></h1>
{% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
    <div class="w-9/10 mx-auto">
          <div class="flex flex-row justify-between mt-2">
              <a href="{% querystring month=prev_month %}"
                 class="flex p-2 mb-8 bg-blue-500 dark:bg-blue-700 text-white! shadow rounded-xl text-md hover:bg-blue-600 items-center">Prev month</a>
              <div class="flex flex-col">
                  <h1 class="text-3xl font-bold text-center mb-1">{{ title }} Report</h1>
              </div>
              <a href="{% querystring month=next_month %}"
                 class="flex items-center p-2 mb-8 bg-blue-500 text-white! shadow rounded-xl text-md hover:bg-blue-600">Next month</a>
            </div>
            <div class="flex justify-center">
                <a href="/api/v1/timesheet/report/export/{{ current_month }}/"
                          class=" p-2 mb-4 bg-blue-500 text-white! shadow rounded-xl text-md hover:bg-blue-600 items-center text-center justify-center">
                      Download report</a>
            </div>

    {% for resource, stats in data.items %}
        {% if stats %}

            <div class="overflow-x-auto rounded-md shadow mb-4">
                <table class="min-w-full leading-normal text-right border-2 font-semibold border-separate">
                    <thead>
                    <tr>
                        <td class="text-left p-1 ">{{ resource }}</td>
                        <td class="p-1"> HH</td>
                        {% for day in days %}
                        <td class="p-1 text-center dark:bg-gray-200">
                            {% if day.is_holiday %}X{% endif %}
                        </td>
                        {% endfor %}
                    </tr>

                    </thead>
                    <tbody>


                   <tr class="bg-gray-300">
                       <td class="text-left p-1" colspan="2">Giorni</td>
                       {% for day in days %}
                       <td class="p-1 text-center  ">
                           <p>{{ day.date|date:"D" }}</p>
                           <p>{{ day.date|date:"j" }}</p>
                       </td>
                       {% endfor %}

                   </tr>

                    {% for key, label in keymap.items %}
                        {% report_line key label stats forloop.counter0|divisibleby:"2" %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="overflow-x-auto rounded-md shadow mb-4">
                <table class="min-w-full leading-normal text-right border">
                    <thead class="bg-gray-200">
                    <tr>
                        <td class="text-left p-1 w-1/6" colspan="2">{{ resource }}</td>
                        <td class="text-left" colspan="{{ days|length }}">No data available</td>
                    </tr>
                    </thead>
                </table>
            </div>
        {% endif %}
    {% endfor %}

    </div>

{% endblock content %}
